<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2025 Grandstream

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NetsuiteErpApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/application_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/application_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetsuiteERP"
        tools:targetApi="31">
        <activity
            android:name=".ui.pages.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.gs.app.netsuiteerp"
                    android:path="/login/callback/8075c0014dc56ecf5d0e745af3b130b4"
                    android:scheme="grandstream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pages.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.inventory_management.InventoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.inventory_adjustments.InventoryAdjustmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.inventory_transfers.InventoryTransfersActivity"
            android:exported="false" />
    </application>

</manifest>